{% extends 'movies/base.html' %}

{% block content %}
    <div class="d-flex flex-wrap">
       {% for movie in movies %}
        <div class="card m-2 p-2" style="width: 18rem;">
            <img style="height: 300px;" src="{{movie.image.url}}" class="card-img-top" alt="{{movie.title}}">
            <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <a href="{% url 'detail_movie' movie.id %}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
       {% endfor %}
    </div>
{% endblock %}